/* --------------------------------------------------------------
-----------------------------------------------------------------

  DEFINITIONS: Blog
  AUTHOR:      ÃNGEL CASAS PESCADOR
  VERSION:     2017-11-08

	CONTENTS:
	0. FONT-FACE (for perf)

	1. RESET

	2. DEFAULT ELEMENT STYLES
		2.1 BODY
		2.2 LINK STYLES
		2.3 HEADINGS
		2.4 OTHER ELEMENTS
		2.5 QUOTES

	2. BASE
		2.1 HEADER STYLES
			2.1.1  Top Nav Styles
			2.1.2  Main Nav Styles
			2.1.3  Searchform Styles
			2.1.4  Breadcrumbs

		2.2 POST STYLES
			2.2.1  Post Header
			2.2.2  Post Entry
			2.2.3  Post Aside
			2.2.4  Single Page Single Styles
			2.2.5  Author Styles

		2.3 COMMENT STYLES

		2.4 COMMENT FORM STYLES

		2.5 HOMEPAGE STYLES
			2.5.1  Opener Styles
			2.5.2  Glossary Styles
			2.5.3  Small Post Styles
			2.5.4  Pagination Styles

		2.6 SIDEBAR/SECONDARY STYLES
			2.6.1  Lanyrd Styles
			2.6.2  UI Tab Styles

		2.7 SUBFOOTER STYLES

		2.8 FOOTER STYLES


	3. EXTRAS
		3.1 FORMATTING STYLES
			 3.1.1  Block Styles
			 3.1.2  Sidenote Styles
			 3.1.3  Column Styles
			 3.1.4  Box Shadow Styles
			 3.1.5  Align Styles
			 3.1.6  Table Styles

		3.2 BUTTON STYLES

		3.3 BROWSER SPECIFIC


	4. GLOSSARY

	5. super-sekret oli.jp styles (were to be used as a base)
-----------------------------------------------------------------
-------------------------------------------------------------- */

/* 1. RESET
-----------------------------------------------------------------------------------------------
===============================================================================================*/
/* http://meyerweb.com/eric/tools/css/reset/ */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{
  margin:0;
  padding:0;
  border:0;
  outline:0;
  font-size:100%;
  font:inherit;
  vertical-align:baseline;
}
/* HTML5 display-role reset for older browsers */
article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section{
  display:block;
}
nav ul{
  list-style:none;
}
table{
  border-collapse:collapse;
  border-spacing:0;
}

/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  width: 100%;
  height: 100%;
}
.intro {
  background-color: black;
  transition: background-color 1s;
}
.main-body {
  background-image: url("../images/boxComposite_TNG100-1_gas-shocks_machnum_dm-coldens_2000 copia-2.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  transition: all 2s;
}
#presentation {
  position: fixed;
  top: 10%;
  color: white;
  left: 0;
  height:75%;
  width: 100%;
  border: 1px solid red;
}
.Title {
  height: 100%;
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  font-size: 1.2rem;
  display: flex;
  flex: 1 100%;
  justify-content: space-between;
  text-align: center;
  flex-flow: column nowrap;
}
.Title h1 {
  font-size: 10.8vmin;
}
.Title > #sub-title {
}
.Title > #sub-title span {
  font-size: 1.8rem;
  font-weight: 500;
  display: block;
  padding: 25px 0;
}
.Title > blockquote {
  height: 10%;
  padding: 0px 10px;
}
.Title > .navigation-bar {
  font-size: 1.6rem;
  margin: 0 20px;
}
.navigation-bar > ul {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
}
.navigation-bar ul li {
  cursor: pointer;
  width: 100%;
  border-bottom: 1px solid white;
  padding: 5px 0;
  margin: 0 5px;
  transition: background-color 1s;
}
.navigation-bar a {
  text-decoration: none;
  color: inherit;
}
.navigation-bar ul li:hover {
  background-color: rgba(0, 0, 0, 0.5);
}
header > .image-frame {
  width: 100%;
  max-width: 800px;
  height: 100%;
  position: absolute;
  top: 0;
  z-index: -1;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  border: 1px solid yellow;
}

.front-image {
  width: 100%;
  min-width: 300px;
  max-width: 430px;
  height: 80%;
  max-height: 250px !important;
  min-height: 230px;
  margin: 0 auto;
  object-fit: cover;
}
@media screen and (max-width: 400px) {
  #first-image {
    background-size: 150% !important;
    transition: background-size 2s;
    transition-timing-function: ease-in;
  }
  #second-image {
    background-size: 150% !important;
    transition: background-size 2s;
    transition-timing-function: ease-in;
  }
}
@media screen and (orientation: portrait) {
}
@media screen and (orientation: landscape) {
}

#first-image {
  background-image: url("../images/jupiter.png");
  background-position: center top;
  background-size: 120%;
  background-repeat: no-repeat;
  transition: background-size 1s;
  transition-timing-function: ease-in;
  border-bottom: 2px solid black;
}
#second-image {
  background-image: url("../images/iris.jpg");
  background-position: center bottom;
  background-size: 120%;
  background-repeat: no-repeat;
  transition: background-size 1s;
  transition-timing-function: ease-in;
}

/* main website starts here */
#wrapper {
  display: none;
  margin: 10px 5px;
  outline: 2px solid black;
  outline-offset: -7px;
  box-sizing: border-box;
}
@media screen and (min-width: 800px) {
  #wrapper {
    width: 90vw;
    margin: 10px auto;
  }
}
@media screen and (max-width: 600px) {
  #menu-main-nav li a {
    padding: 2px 5px;
  }
}
#main-header {
  background: -webkit-linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.9)); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.9)); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.9)); /* For Firefox 3.6 to 15 */
  background: linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.9)); /* Standard syntax */
  text-align: center;
  min-height: 400px;
  padding: 10px;
  color: white;
  font-family: "playfair Display SC";
}
#content {
  padding: 0 10px;
  background: rgba(255, 255, 255, 0.9);
}
#lens {
  display: block;
  font-size: 1.6rem;
  padding: 5px 0;
}
#menu-main-nav {
  align-items: center;
  height: 50px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
}
#menu-main-nav li {
  width: 100%;
}
#menu-main-nav a {
  text-decoration: none;
  color: black;
  border: 1px solid black;
  padding: 5px 10px;
}
#menu-main-nav a:hover {
  background-color: black;
  color: white;
  transition: 0.6s;
}
#search-form > div input[type="text"] {
  width: 50%;
}
input[type="submit"] {
  background-color: black;
  color: white;
  cursor: pointer;
  border-radius: 5px;
  height: 2em;
}
.post {
  padding: 10px 0;
}
.tweet {
  padding: 10px 5px;
}
.post a {
  text-decoration: none;
  color: black;
}
.post a:hover {
  text-decoration: underline;
}
.post .entry {
  height: 100%;
  padding: 0 3px;
  margin-bottom: 20px;
}
#drop-cap {
  font-size: 2.4rem;
  outline: 1px solid rgb(220, 170, 50);
  outline-offset: -5px;
  border: 1px solid rgb(220, 170, 50);
  padding: 3px 5px;
  margin: 5px;
  color: rgb(220, 170, 50);
}
#comments-section {
  text-align: center;
  padding: 0 10px;
  border-top: 1px solid black;
}
#comments-section  > h3 {
    font-size: 1.4rem;
  }
#disqus_thread {
  color: black;
}
form p > label {
  display: inline-block;
  float: left;
}
input[type=text],
input[type=email],
input[type=password],
textarea {
  box-sizing: border-box;
  width: 100%;
}
input[type=text]:focus,
input[type=email]:focus,
input[type=submit]:focus,
input[type=password]:focus,
textarea:focus {
  outline: 0;
  border-color: rgb(13, 81, 153);
}

.projects {
  text-align: center;
  border-top: 1px solid black;
}
.projects header h2 > span {
  border-bottom: 2px solid yellow;
}
.box-area {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
}
@media screen and (max-width: 600px) {
  .box-area {
    grid-template-columns: 1fr 1fr;
  }
  .box {
    width: 100px !important;
    height: 150px !important;
  }
}
.box {
  box-sizing: border-box;
  width: 150px;
  font-size: 1.2rem;
  margin: 10px;
  border: 1px solid black;
  border-radius: 3px;
  height: 200px;
}
.box a:hover {
  text-decoration: underline;
}
.content {
  height: inherit;
}
.content:hover {
  background-color: rgba(255, 255, 255, 0.9);
  transition: 0.5s ease;
}
.content  h3 {
  background-color: rgba(255, 255, 255, 0.9);
}
#box1 {
  background-image: url("../images/language-translation.png");
  background-repeat: norepeat;
  background-size: cover;
  background-position: center;
}
#box2 {
  background-image: url("http://www.nancyrourke.com/paintings/deaf/love2.jpg");
  background-repeat: norepeat;
  background-size: cover;
  background-position: center;
}
#box3 {
  background-image: url("../images/clothing-1.jpg");
  background-repeat: norepeat;
  background-size: cover;
  background-position: center;
}
.projects a {
  color: black;
  text-decoration: none;
}
#roadmap {
  box-sizing: border-box;
  padding: 20px 0;
  text-align: center;
}
  div > h3 {
    font-size: 1.2rem;
    color: #F45B69;
  }
.timeline ul li {
  list-style-type: none;
  position: relative;
  width: 0.5vw;
  margin: 0 auto;
  padding-top: 70px;
  background: #F45B69;
}
.timeline ul li::after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: inherit;
}
.timeline ul li div {
  position: relative;
  bottom: 0;
  width: 30vw;
  padding: 15px;
  background: rgba(255, 255, 255, 0.5);
}
.timeline ul li div::before {
  content: '';
  position: absolute;
  bottom: 7px;
  width: 0;
  height: 0;
  border-style: solid;
}
.timeline ul li:nth-child(odd) div {
  left: 5vw;
}
.timeline ul li:nth-child(odd) div::before {
  left: -15px;
  border-width: 8px 16px 8px 0;
  border-color: transparent #F45B69 transparent transparent;
}
.timeline ul li:nth-child(even) div {
  left: -37.5vw;
}

.timeline ul li:nth-child(even) div::before {
  right: -15px;
  border-width: 8px 0 8px 16px;
  border-color: transparent transparent transparent #F45B69;
}
/* Timeline Visibility */
.timeline ul li::after {
  background: #fff;
  transition: background .5s ease-in-out;
}

.timeline ul li.in-view::after {
  background: #F45B69;
}

.timeline ul li div {
  visibility: hidden;
  opacity: 0;
  transition: all .5s ease-in-out;
}

.timeline ul li:nth-child(odd) div {
  transform: translate3d(200px,0,0);
}

.timeline ul li:nth-child(even) div {
  transform: translate3d(-200px,0,0);
}

.timeline ul li.in-view div {
  transform: none;
  visibility: visible;
  opacity: 1;
}

.about .presentation {
  margin: 7px;
  background-color: rgb(255, 255, 255);
  padding: 8px;
}
.about .watermark {
  font-size: 0.8rem;
  display: block;
  text-align: right;
  color: grey;
}
.about > header > h2 {
  text-align: center;
  font-size: 1.6rem;
}
.about p {
  text-align: left;
  font-size: 1.1rem;
  padding: 0 10px;
  margin-bottom: 20px;
}
.about p > span {
  display: inline-block;
  font-weight: bold;
  font-size: 1.3rem;
  margin: 20px 0;
  display: block;
  text-align: left;
  border-bottom: 1px solid black;
}
.about li {
  list-style: none;
  padding: 10px 3px;
  margin: 15px 20px;
  border-bottom: 1px solid black;
}
.about a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}
.about a:hover {
  text-decoration: underline;
}
.images-group {
  border-top: 1px solid black;
}
.row {
  display: flex;
  justify-content: center;
}
.column {
  padding: 10px;
  text-align: center;
}
.column img {
    margin-top: 12px;
    width: 300px;
}
@media screen and (max-width: 650px) {
  .column img {
    width: 150px;
  }
}
.column a:hover {
  opacity: 0.6;
  transition: .5s ease;
}
.row:after {
    content: "";
    display: table;
    clear: both;
}
@media (max-width: 600px) {
    .column {
        width: 100%;
   }
}
.sub-footer {
  padding: 10px 0;
  border-top: 1px solid black;
}
.sub-footer > h2 {
  text-align: center;
  font-size: 1.6rem;
}
.sub-footer > p {
  text-align: left;
  text-indent: 1em;
}
.sub-footer .red-info {
  color: rgb(210, 0, 0);
  text-align: center;
  padding: 10px 0;
  display: block;
  font-size: 1.2rem;
}
.sub-footer a {
  text-decoration: none;
}
.sub-footer a:hover {
  text-decoration: underline;
  color: rgb(210, 0, 0);
}
.sub-footer .patreon {
  width: 300px;
  display: block;
  margin: auto;
}
.sub-footer .qr {
  width: 150px;
  display: block;
  margin:auto;
}
.sub-footer .bit-adress {
  text-align: center;
  padding: 10px 0;
  display: block;
}
footer {
  background: -webkit-linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.6)); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.6)); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.6)); /* For Firefox 3.6 to 15 */
  background: linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.6)); /* Standard syntax */
}
footer .inner {
  padding: 10px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: flex-end;
  border-top: 1px solid black;
  margin: 0 10px;
}
footer .inner h2 {
  font-size: 1.2rem;
}
footer > blockquote {
  font-size: 0.9sasrem;
  text-align: center;
  padding: 3px 0;
}
footer a {
  text-decoration: none;
  display: inline-block;
  color: inherit;
  margin: 0 2.5px;
}
footer a:hover {
  transition: 0.2s ease;
  color: rgb( 255, 87, 51);
  text-decoration: underline;
}
@media (max-width: 600px) {
  footer .inner h2 {
    font-size: 1rem;
  }
  footer .inner p {
    font-size: 0.8rem;
  }
  footer blockquote > p {
    font-size: 0.7rem;
  }
}
/* 2.1.1 HEADERS
--------------------------------------------------------- */
h1 {
  font-size: 2.6rem;
  font-family: 'Playfair Display SC', serif;
}
h2 {
  font-size: 2.4rem;
  font-family: 'Playfair Display SC', serif;
}
p {
  line-height: 1.8rem;
}


/* 2.2 POST STYLES
--------------------------------------------------------- */
.post header small{
	color: #888;
	font-style: italic;
	font-size: 14px;
}
