/* --------------------------------------------------------------
-----------------------------------------------------------------

  DEFINITIONS: Blog
  AUTHOR:      ÃNGEL CASAS PESCADOR
  VERSION:     2017-11-08

	CONTENTS:
	0. FONT-FACE (for perf)

	1. RESET

	2. DEFAULT ELEMENT STYLES
		2.1 BODY
		2.2 LINK STYLES
		2.3 HEADINGS
		2.4 OTHER ELEMENTS
		2.5 QUOTES

	2. BASE
		2.1 HEADER STYLES
			2.1.1  Top Nav Styles
			2.1.2  Main Nav Styles
			2.1.3  Searchform Styles
			2.1.4  Breadcrumbs

		2.2 POST STYLES
			2.2.1  Post Header
			2.2.2  Post Entry
			2.2.3  Post Aside
			2.2.4  Single Page Single Styles
			2.2.5  Author Styles

		2.3 COMMENT STYLES

		2.4 COMMENT FORM STYLES

		2.5 HOMEPAGE STYLES
			2.5.1  Opener Styles
			2.5.2  Glossary Styles
			2.5.3  Small Post Styles
			2.5.4  Pagination Styles

		2.6 SIDEBAR/SECONDARY STYLES
			2.6.1  Lanyrd Styles
			2.6.2  UI Tab Styles

		2.7 SUBFOOTER STYLES

		2.8 FOOTER STYLES


	3. EXTRAS
		3.1 FORMATTING STYLES
			 3.1.1  Block Styles
			 3.1.2  Sidenote Styles
			 3.1.3  Column Styles
			 3.1.4  Box Shadow Styles
			 3.1.5  Align Styles
			 3.1.6  Table Styles

		3.2 BUTTON STYLES

		3.3 BROWSER SPECIFIC


	4. GLOSSARY

	5. super-sekret oli.jp styles (were to be used as a base)
-----------------------------------------------------------------
-------------------------------------------------------------- */

/* 1. RESET
-----------------------------------------------------------------------------------------------
===============================================================================================*/
/* http://meyerweb.com/eric/tools/css/reset/ */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{
  margin:0;
  padding:0;
  border:0;
  outline:0;
  font-size:100%;
  font:inherit;
  vertical-align:baseline;
}
/* HTML5 display-role reset for older browsers */
article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section{
  display:block;
}
nav ul{
  list-style:none;
}
table{
  border-collapse:collapse;
  border-spacing:0;
}

/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  width: 100vw;
  height: 100vh;
  color: white;
  background-color: black;
}
header {
  width: 100%;
  position: fixed;
  top: 10vh;
  height: 90vh;
  min-height: 400px;
}
.Title {
  width: 100%;
  height: 100%;
  font-size: 1.2rem;
  display: flex;
  flex: 1 100%;
  justify-content: space-between;
  text-align: center;
  flex-flow: column nowrap;
}
.Title h1 {
  font-size: 3.8rem;
  mix-blend-mode: exclusion;
}
.Title > #sub-title {
}
.Title > #sub-title span {
  font-size: 2.0rem;
  display: block;
  width: 100%;
  padding: 20px 0;
}
.Title > blockquote {
  height: 10%;
  padding: 0 10px;
}
.Title > .navigation-bar {
  font-size: 1.6rem;
}
.navigation-bar > ul {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
}
.navigation-bar ul > li {
  cursor: pointer;
}
header .image-frame {
  width: 100%;
  position: absolute;
  top: 20vh;
  left: 0;
  z-index: -1;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
}
.image-frame > .front-image {
  width: 100%;
  height: 250px;
}
@media screen and (max-width: 600px) {
  #first-image {
    background-size: 300px !important;
  }
  #second-image {
    background-size: 300px !important;
  }
  .image-frame > .front-image {
    height: 150px;
  }
}
#first-image {
  background-image: url("../images/jupiter.png");
  background-position: center top;
  background-size: 500px;
  background-repeat: no-repeat;
  border-bottom: 2px solid black;
}
#second-image {
  background-image: url("../images/iris.jpg");
  background-position: center bottom;
  background-size: 500px;
  background-repeat: no-repeat;
}
