/* 1. RESET
-----------------------------------------------------------------------------------------------
===============================================================================================*/
/* http://meyerweb.com/eric/tools/css/reset/ */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{
  margin:0;
  padding:0;
  border:0;
  outline:0;
  font-size:100%;
  font:inherit;
  vertical-align:baseline;
}
/* HTML5 display-role reset for older browsers */
article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section{
  display:block;
}
nav ul{
  list-style:none;
}
table{
  border-collapse:collapse;
  border-spacing:0;
}

/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  font-size: 100%;
  transition: font-size 1s ease-in;
}
*, *:before, *:after {
  box-sizing: inherit;
}
/* loader */
#loader-wrapper .loader-section {
  display: flex;
  flex-flow: column nowrap;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 500px;
  height: 500px;
  transition: all 1s ease-in-out;
  z-index: 1000;
}
#loader {
  z-index: 1001;
}
#loader-wrapper .loader-section.top-image {
  top: 0;
  width: 100%;
  border: 1px solid green;
}
#loader-wrapper #first-image {
  background-image: url("../images/jupiter-cropped.png");
  background-position: center 100%;
  background-size: 500px auto;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-repeat: no-repeat;
  transition: background-size 1s ease-in;
}
#loader-wrapper .loader-section.bottom-image {
  bottom: 0;
  border: 1px solid yellow;
}
#loader-wrapper #second-image {
  background-image: url("../images/iris-cropped.jpg");
  background-position: center 0;
  background-repeat: no-repeat;
  background-size: 500px auto;
  width: 100%;
  height: 100%;
  z-index: -1;
  transition: background-size 1s ease-in;
}
.loaded #loader-wrapper .loader-section.top-image {
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);
}
#loader-wrapper .loader-section.bottom-image {
  -webkit-transform: translateY(100%);
  transform: translateY(100%);
}
.loaded #loader-wrapper .loader-section.top-image,
.loaded #loader-wrapper .loader-section.bottom-image {
  -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.00);
  transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.00);
}
.loaded #loader {
  opacity: 0;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.loaded #loader-wrapper {
  visibility: hidden;
  -webkit-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  transform: translateY(-100%);
  -webkit-transition: all 0.3s 1s ease-out;
  transition: all 0.3s 1s ease-out;
}
#toogle {
  z-index: 1005;
  cursor: pointer;
}

body {
  width: 100%;
  height: 100%;
}
.intro {
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
#base {
  text-align: center;
}
#unsupported {
  display: none;
}
#presentation {
  height: 500px;
  transition: height 1s ease-in;
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
  max-width: 600px;
}

#presentation > * {
  flex: 1;
}

#presentation .circle-images {
  display: flex;
  flex-flow: column nowrap;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 500px;
  height: 500px;
  transition: all 1s ease-in-out;
}
#presentation .circle-images #first-image {
  background-image: url("../images/jupiter-cropped.png");
  background-position: center 100%;
  background-size: 500px auto;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-repeat: no-repeat;
  transition: background-size 1s ease-in;
}

#presentation .circle-images #second-image {
  background-image: url("../images/iris-cropped.jpg");
  background-position: center 0;
  background-repeat: no-repeat;
  background-size: 500px auto;
  width: 100%;
  height: 100%;
  z-index: -1;
  transition: background-size 1s ease-in;
}

#topFrame {
  display: flex;
  height: 100%;
  width: 100%;
  position: relative;
  flex-flow: column nowrap;
  align-items: center;
}
@media screen and (max-width: 500px) {
  html {
    font-size: 75%;
    transition: font-size 1s ease-in;
  }
  #presentation {
    height: 300px;
    transition: height 1s ease-in;
  }
  #presentation .circle-images {
    width: 275px;
    height: 300px;
    transition: all 1s ease-in-out;
  }
  #presentation .circle-images #first-image {
    background-size: 300px auto !important;
    transition: background-size 1s ease-in;
  }
  #presentation .circle-images #second-image {
    background-size: 300px auto !important;
    transition: background-size 1s ease-in;
  }
}
@media screen and (max-height: 600px) {
  html {
    font-size: 75%;
    transition: font-size 1s ease-in;
  }
  #presentation {
    height: 300px;
    transition: height 1s ease-in;
  }
  #presentation .circle-images {
    width: 275px;
    height: 300px;
    transition: all 1s ease-in-out;
  }
  #presentation .circle-images #first-image {
    background-size: 300px auto !important;
    transition: background-size 1s ease-in;
  }
  #presentation .circle-images #second-image {
    background-size: 300px auto !important;
    transition: background-size 1s ease-in;
  }
}
#title {
  height: 100%;
  width: inherit;
}
#title span {
  display: block;
}
.navigation-bar {
  max-width: 500px;
  width: inherit;
}
.navigation-bar > ul {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  cursor: pointer;
  height: 100%;
  margin: 0 10px;
}
.navigation-bar a {
  text-decoration: none;
  color: inherit;
}
.navigation-bar ul > li {
  width: 100%;
  margin: 0 5px;
  padding: 5px 0;
  border-bottom: 1px solid white;
}
.navigation-bar ul li:hover {
  background-color: rgba(0, 0, 0, 0.5);
}

#bottomFrame {
  width: 100%;
  height: 100%;
}
#bottomFrame > blockquote {
  position: absolute;
  right: 0; bottom: 0; left: 0;
  font-style: italic;
  padding: 20px 5px;
}

#wrapper {
  display: none;
}

/* main website starts here */
#wrapper {
  display: none;
  margin: 10px 5px;
  outline: 2px solid black;
  outline-offset: -7px;
  box-sizing: border-box;
}
.main-body {
  background-image: url("../images/boxComposite_TNG100-1_gas-shocks_machnum_dm-coldens_2000 copia-2.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}
@media screen and (min-width: 800px) {
  #wrapper {
    width: 90vw;
    margin: 10px auto;
  }
}
@media screen and (max-width: 600px) {
  #menu-main-nav li a {
    padding: 2px 5px;
  }
}
#main-header {
  background: -webkit-linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.9)); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.9)); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.9)); /* For Firefox 3.6 to 15 */
  background: linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.9)); /* Standard syntax */
  text-align: center;
  min-height: 400px;
  padding: 10px;
  color: white;
  font-family: "playfair Display SC";
}
#content {
  padding: 0 10px;
  background: rgba(255, 255, 255, 0.9);
}
#lens {
  display: block;
  font-size: 1.6rem;
  padding: 5px 0;
}
#menu-main-nav {
  align-items: center;
  height: 50px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
}
#menu-main-nav li {
  width: 100%;
}
#menu-main-nav a {
  text-decoration: none;
  color: black;
  border: 1px solid black;
  padding: 5px 10px;
}
#menu-main-nav a:hover {
  background-color: black;
  color: white;
  transition: 0.6s;
}
#search-form > div input[type="text"] {
  width: 50%;
}
input[type="submit"] {
  background-color: black;
  color: white;
  cursor: pointer;
  border-radius: 5px;
  height: 2em;
}
.post {
  padding: 10px 0;
}
.tweet {
  padding: 10px 5px;
}
.post a {
  text-decoration: none;
  color: black;
}
.post a:hover {
  text-decoration: underline;
}
.post .entry {
  height: 100%;
  padding: 0 3px;
  margin-bottom: 20px;
}
#drop-cap {
  font-size: 2.4rem;
  outline: 1px solid rgb(220, 170, 50);
  outline-offset: -5px;
  border: 1px solid rgb(220, 170, 50);
  padding: 3px 5px;
  margin: 5px;
  color: rgb(220, 170, 50);
}
#comments-section {
  text-align: center;
  padding: 0 10px;
  border-top: 1px solid black;
}
#comments-section  > h3 {
    font-size: 1.4rem;
  }
#disqus_thread {
  color: black;
}
form p > label {
  display: inline-block;
  float: left;
}
input[type=text],
input[type=email],
input[type=password],
textarea {
  box-sizing: border-box;
  width: 100%;
}
input[type=text]:focus,
input[type=email]:focus,
input[type=submit]:focus,
input[type=password]:focus,
textarea:focus {
  outline: 0;
  border-color: rgb(13, 81, 153);
}

.projects {
  text-align: center;
  border-top: 1px solid black;
}
.projects header h2 > span {
  border-bottom: 2px solid yellow;
}
.box-area {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
}
@media screen and (max-width: 600px) {
  .box-area {
    grid-template-columns: 1fr 1fr;
  }
  .box {
    width: 100px !important;
    height: 150px !important;
  }
}
.box {
  box-sizing: border-box;
  width: 150px;
  font-size: 1.2rem;
  margin: 10px;
  border: 1px solid black;
  border-radius: 3px;
  height: 200px;
}
.box a:hover {
  text-decoration: underline;
}
.content {
  height: inherit;
}
.content:hover {
  background-color: rgba(255, 255, 255, 0.9);
  transition: 0.5s ease;
}
.content  h3 {
  background-color: rgba(255, 255, 255, 0.9);
}
#box1 {
  background-image: url("../images/language-translation.png");
  background-repeat: norepeat;
  background-size: cover;
  background-position: center;
}
#box2 {
  background-image: url("http://www.nancyrourke.com/paintings/deaf/love2.jpg");
  background-repeat: norepeat;
  background-size: cover;
  background-position: center;
}
#box3 {
  background-image: url("../images/clothing-1.jpg");
  background-repeat: norepeat;
  background-size: cover;
  background-position: center;
}
.projects a {
  color: black;
  text-decoration: none;
}
#roadmap {
  box-sizing: border-box;
  padding: 20px 0;
  text-align: center;
}
  div > h3 {
    font-size: 1.2rem;
    color: #F45B69;
  }
.timeline ul li {
  list-style-type: none;
  position: relative;
  width: 0.5vw;
  margin: 0 auto;
  padding-top: 70px;
  background: #F45B69;
}
.timeline ul li::after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: inherit;
}
.timeline ul li div {
  position: relative;
  bottom: 0;
  width: 30vw;
  padding: 15px;
  background: rgba(255, 255, 255, 0.5);
}
.timeline ul li div::before {
  content: '';
  position: absolute;
  bottom: 7px;
  width: 0;
  height: 0;
  border-style: solid;
}
.timeline ul li:nth-child(odd) div {
  left: 5vw;
}
.timeline ul li:nth-child(odd) div::before {
  left: -15px;
  border-width: 8px 16px 8px 0;
  border-color: transparent #F45B69 transparent transparent;
}
.timeline ul li:nth-child(even) div {
  left: -37.5vw;
}

.timeline ul li:nth-child(even) div::before {
  right: -15px;
  border-width: 8px 0 8px 16px;
  border-color: transparent transparent transparent #F45B69;
}
/* Timeline Visibility */
.timeline ul li::after {
  background: #fff;
  transition: background .5s ease-in-out;
}

.timeline ul li.in-view::after {
  background: #F45B69;
}

.timeline ul li div {
  visibility: hidden;
  opacity: 0;
  transition: all .5s ease-in-out;
}

.timeline ul li:nth-child(odd) div {
  transform: translate3d(200px,0,0);
}

.timeline ul li:nth-child(even) div {
  transform: translate3d(-200px,0,0);
}

.timeline ul li.in-view div {
  transform: none;
  visibility: visible;
  opacity: 1;
}

.about .presentation {
  margin: 7px;
  background-color: rgb(255, 255, 255);
  padding: 8px;
}
.about .watermark {
  font-size: 0.8rem;
  display: block;
  text-align: right;
  color: grey;
}
.about > header > h2 {
  text-align: center;
  font-size: 1.6rem;
}
.about p {
  text-align: left;
  font-size: 1.1rem;
  padding: 0 10px;
  margin-bottom: 20px;
}
.about p > span {
  display: inline-block;
  font-weight: bold;
  font-size: 1.3rem;
  margin: 20px 0;
  display: block;
  text-align: left;
  border-bottom: 1px solid black;
}
.about li {
  list-style: none;
  padding: 10px 3px;
  margin: 15px 20px;
  border-bottom: 1px solid black;
}
.about a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}
.about a:hover {
  text-decoration: underline;
}
.images-group {
  border-top: 1px solid black;
}
.row {
  display: flex;
  justify-content: center;
}
.column {
  padding: 10px;
  text-align: center;
}
.column img {
    margin-top: 12px;
    width: 300px;
}
@media screen and (max-width: 650px) {
  .column img {
    width: 150px;
  }
}
.column a:hover {
  opacity: 0.6;
  transition: .5s ease;
}
.row:after {
    content: "";
    display: table;
    clear: both;
}
@media (max-width: 600px) {
    .column {
        width: 100%;
   }
}
.sub-footer {
  padding: 10px 0;
  border-top: 1px solid black;
}
.sub-footer > h2 {
  text-align: center;
  font-size: 1.6rem;
}
.sub-footer > p {
  text-align: left;
  text-indent: 1em;
}
.sub-footer .red-info {
  color: rgb(210, 0, 0);
  text-align: center;
  padding: 10px 0;
  display: block;
  font-size: 1.2rem;
}
.sub-footer a {
  text-decoration: none;
}
.sub-footer a:hover {
  text-decoration: underline;
  color: rgb(210, 0, 0);
}
.sub-footer .patreon {
  width: 300px;
  display: block;
  margin: auto;
}
.sub-footer .qr {
  width: 150px;
  display: block;
  margin:auto;
}
.sub-footer .bit-adress {
  text-align: center;
  padding: 10px 0;
  display: block;
}
footer {
  background: -webkit-linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.6)); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.6)); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.6)); /* For Firefox 3.6 to 15 */
  background: linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.6)); /* Standard syntax */
}
footer .inner {
  padding: 10px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: flex-end;
  border-top: 1px solid black;
  margin: 0 10px;
}
footer .inner h2 {
  font-size: 1.2rem;
}
footer > blockquote {
  font-size: 0.9sasrem;
  text-align: center;
  padding: 3px 0;
}
footer a {
  text-decoration: none;
  display: inline-block;
  color: inherit;
  margin: 0 2.5px;
}
footer a:hover {
  transition: 0.2s ease;
  color: rgb( 255, 87, 51);
  text-decoration: underline;
}
@media (max-width: 600px) {
  footer .inner h2 {
    font-size: 1rem;
  }
  footer .inner p {
    font-size: 0.8rem;
  }
  footer blockquote > p {
    font-size: 0.7rem;
  }
}
/* 2.1.1 FONTS
--------------------------------------------------------- */
h1 {
  font-size: 2.6rem;
  font-family: 'Playfair Display SC', serif;
}
h2 {
  font-size: 2.4rem;
  font-family: 'Playfair Display SC', serif;
}
p {
  line-height: 1.8rem;
}
#title span {
  font-size: 1.6rem;
}
.navigation-bar {
  font-size: 1.4rem;
}
#bottomFrame > blockquote {
  font-size: 1.4rem;
}


/* 2.2 POST STYLES
--------------------------------------------------------- */
.post header small{
	color: #888;
	font-style: italic;
	font-size: 14px;
}
